@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Poppins&display=swap');

:root{
    --primary: #fff;
    --bg-color: rgb(5, 53, 61);
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: rgb(252, 8, 231);
  }

html {
    overflow-y: hidden;
}

body {
    background-color: #FFE0ED;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    padding: 0;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    color: rgb(233, 60, 89);
}

p {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 1em; 
}

header {
    margin-top: 1em;
    margin-bottom: 25em;
    overflow-x: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 4em;
}

header h1 {
    font-size: 4em;
}

.login-container {
    padding-inline: 5em;
}

.searchField {
    margin-top: 10em;
    margin-bottom: 2em;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(238, 82, 108);
    background-color: #FFE0ED;
    color: rgb(238, 46, 78);
    font-family: 'Caveat Brush', cursive;


}

.searchField:focus {
    border-width: 0px 0px 1px 0px;
    outline: none;
    background-color: #FFE0ED;
}

#submit {
    padding-inline: 2em;
    padding-block: 1em;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    background-color: rgb(252, 100, 125);
    margin-bottom: 3em;
}

.hero {
    
    color: #FF56A7;
    padding: 3em;
    padding-top: 10em;
    padding-bottom: 0;
    background-color: #FFE0ED;
}

.hero h1 {
    font-size: 4em;
}

.hero p {
    font-size: 1em;
}

.hero img {
    display: block;
    width: 150%;
    transform:  translateX(-15%);
}

.about {
    background-color: white;
    color: #FF56A7;
    padding: 3em;
}

.about h1 {
    font-size: 4em;
}

.about img {
    width: 50%;
}

.about p {
    margin-top: 4em;
    color: #353535;
}

.like {
    background-color: #FF56A7;
    color: white;
    padding: 3em;
}

.like h1 {
    font-size: 4em;
    margin-bottom: 1em;
}

.like h2 {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

.like h2:last-of-type {
    margin-bottom: 2em;
}



.like-button {
    color: #FF56A7;
    background-color: white;
    text-decoration: none;
    padding-inline: 2em;
    padding-block: 1em;
    border-radius: 15px;
}

.last {
    background-color: #FFE0ED;
    color: #FF56A7;
    padding: 3em;
    position: relative;

}

.last h1 {
    font-size: 4em;
}

.last-img {
    position: absolute;
    width: 130%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform:  translateY(100%);
    line-height: 0%;
}

.last p {
    color: #353535;
}

.survey {
    background-color: #FFE0ED;
    color: #FF56A7;
    padding: 3em;
}

.survey h1 {
    font-size: 4em;
    margin-bottom: 1em;
}

.survey p {
    margin-top: 4em;
    margin-bottom: 4em;
}

.survey a {
    color: white;
    background-color: #FF56A7;
    text-decoration: none;
    padding-inline: 2em;
    padding-block: 1em;
    border-radius: 15px;

}

.playlist {
    background-color: #353535;
    color: #FF56A7;
    padding: 3em;
}

.playlist h1 {
    font-size: 4em;
}

.moments {
    background-color: white;
    color: #FF56A7;
    padding: 3em;
}

.moments img {
    width: 100%;
}

.moments h2 {
    font-size: 3em;
}

.moments p {
    color: #353535;
}

.messages {
    background-color: #FF56A7;
    color: #ffffff;
    padding: 3em;
}

.messages p {
    font-size: 1px;
    margin-bottom: 500px;
}

#messagesbutton {
    padding-inline: 1.5em;
    padding-block: 1em;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #FF56A7;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    margin-bottom: 3em;
}


/* cuaks */

